@import './normalize.css';

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  overflow: hidden;
}

body {
  background-color: #172734;

  background-attachment: fixed;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
